.supporter-seprator {
  width: 0.2rem;
  height: 14.8rem;
  background-color: #e8e9e8;
}
.supporter-slider {
  &__images {
    flex: 0 0 80%;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1.6rem;
    &__image {
      flex: 0 0 30%;
      transition: all 0.5s;
      width: 100%;
      height: 10rem;
      display: flex;
      align-items: center;
    }
  }
}
