@font-face {
  font-family: "Vazirmatn-Regular";
  src: url("../../public/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 62.5%;
}
/* Define a generic fontfamily */
* {
  font-family: "Vazirmatn-Regular", sans-serif;
  font-size: 1.6rem;
}
